* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

header {
  text-align: center;
  margin: 5rem;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  /* text-decoration: underline; */
  box-shadow: 2px 2px 10px 1px red;
  text-shadow: 2px 2px 10px blue;
}

.section-todo {
  text-align: center;
}

input {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1rem;
}

button {
  background-color: transparent;
  padding: 0.45rem;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &:hover {
    background-color: green;
  }
}

.todo-list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  & ul {
    margin-top: 1rem;
    width: 20rem;
  }

  & div button {
    border-radius: 1rem;
  }
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  color: white;
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 2rem;
  margin-top: 1rem;
  & span {
    display: flex;
    align-items: center;
  }
}

.checkon {
  text-decoration: line-through;
}

.checkoff {
  text-decoration: none;
}
